* {
    margin: 0;
    padding: 0;
    background-color: rgb(135, 183, 195);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

h2{
    padding-top: 40px;
    text-align: center;
    font-size: 20pt;
}

h1{
    padding-top: 45px;
    text-align: center;
    font-size: 30pt;
    font-family: 'Dosis', sans-serif;
}

.container{
    padding-top: 70px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
    padding-bottom: 150px;
}

.instrucciones{
    color: white; 
    width: 770px; 
    margin: auto; 
    font-size: 18pt;
    font-weight: 100;
}

.colorOptions{
    display: flex;
    gap: 50px;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
}

.colorOptions h3{
    margin-top: 40px;
    font-size: 20pt;
}

footer{
    background-color: green;
    height: 65px;
    text-align: center;
    padding-top: 35px;
    font-size: 20pt;
    font-family: 'Dosis', sans-serif;
}